<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Poll Results</title>
  <link rel="stylesheet" href="/styles/create_poll.css">
  <link rel="stylesheet" href="../styles/header.css">
  <link rel="stylesheet" href="../styles/footer.css">
  <link rel="stylesheet" href="../styles/body.css">
  <link rel="stylesheet" href="../styles/button.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/styles/results_page.css">
</head>
<body>
  <header> <%- include('partials/_header')%></header>
  <h1 id="title">Poll Results</h1>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Rank</th>
          <th>Option</th>
          <th>Borda Score</th>
        </tr>
      </thead>
      <tbody>
        <% rankings.forEach((option, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= option.option_title %></td>
            <td><%= option.borda_score %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>

  <form id="start" method="GET" action="/create_poll">
    <h2>Want to make another poll? Click Here!</h2>
    <button type="submit" form="start"><h1>Create A Poll!</h1></button>
  </form>
  <footer><%- include('partials/_footer')%></footer>
</body>
</html>
